<style type="text/css">
	.tab_email {
		border:1px solid #c1c1c1;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding:10px;
	}
	.tab_email tbody {
		padding:20px;
	}
	.tab_email tbody > tr {
		padding:20px;
    }
    .link{
        color: blue;
    }

</style>
<table width="600px" align="center" class="tab_email">
<tbody style="padding:20px;">
    <tr>
        <td><h4>Cher Client,</h4></td>
    </tr>
    <tr>
        <td><span class="sentence">Vous avez procédé a la création d'un compte 1xcrypto.</span></td>
    </tr>
    <tr>
        <td><span class="sentence">Pour valider le compte, cliquez sur <a href="https://1xcrypto.net/email-verify/[@code]" class="link">ce lien</a>,</span></td>
    </tr>
    <tr>
        <td><span class="sentence">Ou copiez et collez ce lien dans votre navigateur: <a href="https://1xcrypto.net/email-verify/[@code]" class="link">https://1xcrypto.net/email-verify/[@code]</a></span></td>
    </tr>
    <tr>
        <td><span class="sentence">Cordialement, L'equipe de 1xCrypto.</span></td>
    </tr>
    <tr>
        <td><span class="sentence">Ce mail est adressé a [@user] sur [@mail]</span></td>
    </tr>
    <tr>
        <td><span class="sentence"> Si cette action ne vient pas de vous, veuillez ignorer ce message.</span></td>
    </tr>
</tbody>
</table>