<style type="text/css">
	.tab_email {
		border:1px solid #c1c1c1;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding:10px;
	}
	.tab_email tbody {
		padding:20px;
	}
	.tab_email tbody > tr {
		padding:20px;
    }
    .link{
        color: blue;
    }

    .automatic{
        font-size: 14px;
    }

</style>
<table width="600px" align="center" class="tab_email">
<tbody style="padding:20px;">
    <tr>
        <td><h4>Cher utilisateur,</h4></td>
    </tr>
    <tr>
        <td>
            <p class="paragraph">
            Pour des raisons de sécurisation et d'amélioration de notre systeme,
            nous somme obligés de mettre en maintenance 1xcrypto  entre ce vendredi  31 juillet 2020 a 17h:20 GMT+1,
            et le 1er aout 2020 a 17h:20 GMT+1 pour d'importantes mises a jour. 
            Toute l'équipe de 1xcrypto vous présente ses sinceres excuses et vous remercie de votre compréhension.
            </p>
        </td>
    </tr>
    
    <tr>
        <td><span class="automatic">Message automatique, veuillez ne pas répondre.</span></td>
    </tr>
</tbody>
</table>